<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   
    <bean id="service" class="account.run.JavaContactService" autowire="byType">  
        <property name="contactDao" ref="contactDAO"/>
        <property name="hobbyDao" ref="hobbyDAO"/>  
        <property name="messageDao" ref="messageDAO"/>
        <property name="placeDao" ref="placeDAO"/>   
        
    </bean> 
    
    
    <!--    DAO-->

    <bean id="contactDAO" class="account.dao.ContactDao">       
    </bean> 
    
    <bean id="hobbyDAO" class="account.dao.HobbyDao"> 
        <property name="contactDao" ref="contactDAO"/>      
    </bean> 

    <bean id="messageDAO" class="account.dao.MessageDao" autowire="byType">
        <property name="contactDao" ref="contactDAO"/>
    </bean> 
    
    <bean id="placeDAO" class="account.dao.PlaceDao">  
        <property name="contactDao" ref="contactDAO"/>
        
    </bean> 
</beans>
